
body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color: rgb(255, 255, 255)
}

a{
  text-decoration: none;
}

/* comienzo header */
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; 
  grid-area: header;
}

.nav__col {
  background-color: rgb(255, 255, 255);
  width: 490px;
  border-style: groove;
}

.nav__col--P {
  background-color: rgb(255, 255, 255);
  width: 420px;
  border-style: groove;
}

/* configuracion basica (todas las pags) */

.mnconf {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.margen {
  margin: auto;
}

.pie {
 border-style: groove;
}

.pieconf {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* comienzo imagen */
.imcent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.grids {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-content: space-between;
  grid-gap: 5px;
}

.imagen{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.imagen__P {
  width: 80px;
  height: 70px;
}

.imagen__G {
  width: 600px;
  height: 400px;
  margin: auto;
}

.imagen__Q {
  width: 300px;
  height: 250px;
}

.im__R {
  border-radius: 10px;
}

.imAs {
  border-radius: 15px;
  border: solid 1px black;
}

.imagen__T {
  width: 600px;
  height: 600px;
  margin: auto;
}

.imagen__I {
  width: 249px;
  height: 200px;
}

/* prueba galeria slide para fotos de modelos */
.gallery{
  height: 60%;
  width: 90%;
  display: flex;
  margin: 5% auto 0;
  box-sizing: border-box;
}

.image-box{
  margin: 1%;
  flex-grow: 0.5;
  flex-basis: 0;
  transition: .5s;
}

.image-box img{
  width: 90%;
  height: 100vh;
  object-fit: cover;
  transition: .4s;
}

.image-box:hover {
  flex-basis: 20%;
}

.activado {
  flex-basis: 20%;
}

.gallery:hover .activado{
  flex-basis: 0;
}

.image-box:nth-child(1):hover{
  flex-basis: 20%;
}


/* comienzo texto */
.txti {
  text-align: left;
}

.txtd {
  text-align: right;
}

.txtcen {
  text-align: center;
}

.txtAb {
  margin-right: 700px;
  position: relative;
}

.txtAb__A {
  margin-top: 5%;
}

.txtAb__B {
  margin-top: 10%;
}

.titcolor {
  color: rgb(129, 135, 220)
}

.txtcolor {
  color: rgb(0, 0, 0);
  width: 1px;
}


.InicioCartas {
width: 250px;
height: 300px;
}

.colorBoton {
  background-color: black;
  width: 100px;
  height: 100px;
  margin-top: 10%;
}

.colorBoton__2 {
  margin-top: 20%;
}

/* otros */
#formulario {
  border-style: ridge;
  color: indigo;
  display: flex;
  flex-flow: column nowrap;
  align-items: right;
  justify-content: space-between;
}

.form {
  width: 300px;
  margin: auto;
}

/* clases para @mobile en tablet-mob */
.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.aside{
  grid-area: aside;
}

.nav {
  grid-area: nav;
}

.fotos {
  grid-area: fotos;
}

.sucur {
  grid-area: sucur;
}

.info{
  grid-area: info;
}

.slide {
  grid-area: slide;
}

/* 768px y 360px @mobile */

@media (max-width:360px) {
  body {
    font-size: 18px;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  footer a {
    font-size: 27px;
  }

  footer div img {
    width: 30px;
  }

  nav a {
    font-size: 30px;
  }

  .home {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "footer";
  }

  .header {
  display: flex;
  flex-flow: column nowrap;
  width: 10vh;
  }

  .im__R{
    width: 90vw;
    margin: auto;
  }

  .nav__col--P {
    width: 90vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    margin: auto;
  }
  
  .pieconf {
    flex-flow: column wrap;
    width: 100vw;
  }

  .InicioCartas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
  }

  .InicioCartas p {
    font-size: 30px;
  }

  .InicioCartas h5 {
    font-size: 30px;
  }

  .imagen__I{
    width: 90vw;
  }

  .img__Footer {
    width: 85vw;
  }

  .txtAb__A--A {
    margin-top: 50px;
  }


}

@media (max-width:360px){
  .galtab {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "slide"
    "footer"  ;
  }
  
  .nav__col {
    width: 95vw;
  }
  
  .img__Footer--P {
    width: 85vw;
  }

  .header__P {
    width: 90vw;
  }

  .carousel {
    width: 97vw;
  }

  .colorBoton {
    margin-top: 0%;
    width: 60px;
    height: 40px;
  }

}

@media (max-width:360px){
  .sucursales {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "sucur"
    "footer";
  }


  .txtcolor {
    color: rgb(255, 255, 255);
    margin-bottom: 80%;
    margin-left: 80%;
  }
  

}

@media (max-width:360px){
  .qsomos {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "info"
    "footer";
  }

  .somos__F {
    font-size: 20px;
  }
}

@media (max-width:360px){
  .formu{
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "completar"
    "footer";
  }

  .form {
    font-size: 23px;
  }

}