.colorBoton {
  background-color: black;
  width: 100px;
  height: 100px;
  margin-top: 10%;
}

.colorBoton__2 {
  @extend .colorBoton;
  margin-top: 20%;
}

.botoncard {
  background-color: $colTit;
  color: $colWht;
}