.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.aside{
  grid-area: aside;
}

.nav {
  grid-area: nav;
}

.fotos {
  grid-area: fotos;
}

.sucur {
  grid-area: sucur;
}

.info{
  grid-area: info;
}

.slide {
  grid-area: slide;
}