.main {
  grid-area: main;
}

.main2 {
  grid-area: main2;
}

.bannerindex{
  grid-area: banner;
}
.footer {
  grid-area: footer;
}

.aside{
  grid-area: aside;
}

.nav {
  grid-area: nav;
}

.fotos {
  grid-area: fotos;
}

.sucur {
  grid-area: sucur;
}

.info{
  grid-area: info;
}

.slide {
  grid-area: slide;
}