.form {
  width: 300px;
  margin: auto;
}

.cuadrado {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  background: transparent;
  margin: auto;
  margin-top: 3%;
  border-radius: 10px;
}