.mnconf {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.informacionindex {
  display: flex;
  flex-wrap: column wrap;
  justify-content: space-around;
  margin-top: 5%;
}

.anuncio {
  background-color: blueviolet;
  font-size: 10px;
}