.imagen{
  @include sizes(400px, 400px);
  display: flex;
  justify-content: space-between;
}
.imagen__P {
  @include sizes(30px, 30px);
}
.img__Footer{
  @include sizes (90px, 50px);
  margin-left: 50%;
}
.imagen__G {
  @include sizes(600px, 400px);
  margin: auto;
}
.imagen__Q {
  @include sizes(300px, 250px);
}
.im__R {
  border-radius: 10px;
}
.imAs {
  border-radius: 15px;
  border: solid 1px black;
}
.imagen__T {
  @include sizes(600px, 600px);
  margin: auto;
}
.imagen__I {
  @include sizes(249px, 200px);
}
.imagenBanner {
  @include sizes(90vw, 40vh);
  margin-left: 2%;
}

.imagenpromo {
  @include sizes (250px, 350px)
}
.imagenindex {
  @include sizes (80px, 70px)
}
.imagenlogo{
  @include sizes (50px, 50px)
}