.imagen{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
.imagen__P {
  width: 80px;
  height: 70px;
}
.imagen__G {
  width: 600px;
  height: 400px;
  margin: auto;
}
.imagen__Q {
  width: 300px;
  height: 250px;
}
.im__R {
  border-radius: 10px;
}
.imAs {
  border-radius: 15px;
  border: solid 1px black;
}
.imagen__T {
  width: 600px;
  height: 600px;
  margin: auto;
}
.imagen__I {
  width: 249px;
  height: 200px;
}
.imagenBanner {
  width: 90vw;
  height: 30vh;
  margin-left: 2%;
}