.txti {
	text-align: left;
}
.txtd {
	text-align: right;
}
.txtcen {
	text-align: center;
}
.txtAb {
	margin-right: 700px;
	position: relative;
}
.txtAb__A {
	margin-top: 5%;
}
.txtAb__A--A{
	margin-top: 2%;
}
.txtAb__B {
	margin-left: 3%;
}

.txtRed {
	color: $colRed
}
.txtblk {
	color: $colBlk;
}
.titulo {
	color: $colTit;
}