.txti {
	text-align: left;
}
.txtd {
	text-align: right;
}
.txtcen {
	text-align: center;
}
.txtAb {
	margin-right: 700px;
	position: relative;
}
.txtAb__A {
	margin-top: 5%;
}
.txtAb__B {
	margin-top: 10%;
}

.txtblk {
	color: $colBlk;
}